body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

li {
  list-style: none;
}

header {
    opacity: 0.9;
    width: 100%;
    height: 70px;
    background-color: #424953;
    color: #F4F6F9;
    position: fixed;
    top: 0;
    z-index: 10;
}

.header-logo {
    float: left;
    font-size: 24px;
    font-weight: bolder;
    padding: 10px 30px;

}

.logo {
    cursor: pointer;
    padding: 10px 10px;
    border-radius: 5px;
    background-color: #646C77;
    display: flex;  
}

.pembungkus-searchbox {
    display: flex;
    align-items: center;
}

.searchbox {
    width: 90px;
    float: right;
}

.btn.btn-utama {
    background-color: #005B8F
    color: #4B89DA;
    text-transform: uppercase;
    font-weight: bolder;
}


.logo:hover {
    color: #4B89DA;
    background-color: #F4F6F9;
}

.header-list li {
    cursor: pointer;
    float: right;
    padding: 6px 20px;
}

.header-list li:hover {
    color: #4B89DA;
}


.menu {
    font-size: 40px;
    display: none;
    float: right;
    padding: 11px 35px;
    cursor: pointer;
}

.menu:hover {
    color: #4B89DA;
}

.content1 {
    padding: 30px 45px;
    background-image: url("./src/foto.jpg");
    background-size: cover;
    color: #F4F6F9;
}

.content1 h1 {
    padding-top: 250px
}

.selengkapnya {
    padding: 10px 10px;
    border-radius: 5px;
    background: #4B89DA;
    opacity: 1;
    cursor: pointer;
    animation-name: opacity_ani;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.selengkapnya:hover {
    animation-iteration-count: 1;
    animation-play-state: paused;
}

@keyframes opacity_ani {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

.content2{
    text-align: left;
    padding: 20px 45px 200px 45px;
    height: auto;
}

.content2 h3 {
    border-bottom: 4px solid #4B89DA;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-bottom: 10px;
}

.content2_isi {
    padding-bottom: 20px;
}

.misi {
    float: left;
    width: 33%;
    padding-bottom: 20px;
}

.beritaberita {
    text-align: center;
    padding-bottom: 80px;
}

.berita {
    float: left;
    width: 25%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.berita:hover {
    text-decoration: underline;
}

img {
    width: 100%;    
}

.content3 {
    padding: 30px 0;
    text-align: center;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.kontak {
  padding: 15px 40px;
  background-color: #5E9CEA;
  cursor: pointer;
  box-shadow: 0 7px #4B89DA;
}

.kontak:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

footer {
    background-color: #646C77;
    color: #F4F6F9;
    text-align: center;
    padding: 20px 0;
    line-height: 0.4;
    font-size: 14px;
}
