body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

li {
  list-style: none;
}

header {
    width: 100%;
    height: 70px;
    background-color: #4B89DA;
    color: #F4F6F9;
    position: fixed;
    top: 0;
    z-index: 10;
}

.header-logo {
    float: left;
    font-size: 24px;
    font-weight: bolder;
    padding: 20px 40px;
}

.header-list li {
    float: right;
    padding: 6px 20px;
}

.content1 {
    padding: 0 45px;
    height: 450px;
    background-image: url("./foto.jpg");
    background-size: cover;
    color: #F4F6F9;
}

.content1 h1 {
    padding-top: 250px
}

.content2{
    text-align: left;
    padding: 30px 45px;
    height: 800px;
}

.content2 h3 {
    border-bottom: 4px solid #4B89DA;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-bottom: 10px;
}

.content2_isi {
    padding-bottom: 20px;
}

.misi {
    float: left;
    width: 33%;
    padding-bottom: 20px;
}

.beritaberita {
    text-align: center;
}

.berita {
    float: left;
    width: 33%;
}

img {
    width: 330px;    
}

footer {
    background-color: #73B1FA;
    color: #F4F6F9;
    text-align: center;
    padding: 20px 0;
    line-height: 0.4;
}
