body{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

li {
  list-style: none;
}

nav{
  background-color: #646C77;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 100px;
}
nav .logo{
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -1px;
}
nav .nav-items{
  display: flex;
  flex: 1;
  padding: 0 0 0 40px;
  text-align: center; <!-- biar tulisannya ditengah -->
}
nav .nav-items li{
  list-style: none;
  padding: 0 15px;
}
nav .nav-items li a{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}
nav .nav-items li a:hover{
  color: #ff3d00;
}
nav form{
  display: flex;
  height: 40px;
  padding: 2px;
  background: #1e232b;
  min-width: 18%!important;
  border-radius: 2px;
  border: 1px solid rgba(155,155,155,0.2);
}
nav form .search-data{
  width: 100%;
  height: 100%;
  padding: 0 10px;
  color: #fff;
  font-size: 17px;
  border: none;
  font-weight: 500;
  background: none;
}
nav form button{
  padding: 0 15px;
  color: #fff;
  font-size: 17px;
  background: #ff3d00;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}
nav form button:hover{
  background: #e63600;
}
nav .menu-icon,
nav .cancel-icon,
nav .search-icon{
  width: 40px;
  text-align: center;
  margin: 0 50px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  display: none;
}
nav .menu-icon span,
nav .cancel-icon,
nav .search-icon{
  display: none;
}
@media screen and (max-width: 1140px) {
  nav{
    padding: 0 50px;
  }
}
@media screen and (max-width: 1000px){
  nav{
    padding: 0px;
  }
  nav .logo{
    flex: 2;
    text-align: center;
  }
  nav .nav-items{
    position: fixed;
    z-index: 99;
    top: 70px;
    width: 100%;
    left: -100%;
    height: 100%;
    padding: 0;<!-- biar tdk ada barhitam  -->
    text-align: center;
    background: #14181f;
    display: inline-block;
    transition: left 0.3s ease;
  }
  nav .nav-items.active{
    left: 0px;
  }
  nav .nav-items li{
    line-height: 30px;
    margin: 20px 0;
  }
  nav .nav-items li a{
    font-size: 25px;
  }
  nav form{
    position: absolute;
    top: 80px;
    right: 50px;
    opacity: 0;
    pointer-events: none;
    transition: top 0.3s ease, opacity 0.1s ease;
  }
  nav form.active{
    top: 95px;
    opacity: 1;
    pointer-events: auto;
  }
  nav form:before{
    position: absolute;
    content: "";
    top: -13px;
    right: 0px;
    width: 0;
    height: 0;
    z-index: -1;
    border: 10px solid transparent;
    border-bottom-color: #1e232b;
    margin: -20px 0 0;
  }
  nav form:after{
    position: absolute;
    content: '';
    height: 60px;
    padding: 2px;
    background: #1e232b;
    border-radius: 2px;
    min-width: calc(100% + 20px);
    z-index: -2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  nav .menu-icon{
    display: block;
  }
  nav .search-icon,
  nav .menu-icon span{
    display: block;
  }
  nav .menu-icon span.hide,
  nav .search-icon.hide{
    display: none;
  }
  nav .cancel-icon.show{
    display: block;
  }
}
.misi {
        float: none;
        padding-bottom: 0px;
        width: 100%;
    }
    
    .berita {
        width: 50%;
        margin-bottom: 20px;
    }

}
@media screen and (max-width: 670px){
  nav .menu-icon,
  nav .cancel-icon,
  nav .search-icon{
    margin: 0 20px;
  }
  nav form{
    right: 30px;
  }
  .misi {
        float: none;
        padding-bottom: 0px;
        width: 100%;
    }
    .berita {
        width: 100%;
        margin-bottom: 20px
    }
    
    .header-list li {
        display: none;
    }
    
    .menu{
        display: block;
    }
}
@media screen and (max-width: 415px){
  nav .menu-icon,
  nav .cancel-icon,
  nav .search-icon{
    margin: 0 5px;
    font-size: 16px;
  }
  nav .logo {
    font-size: 20px;
    flex: 2;
  }
}

.content1 {
    padding: 30px 45px;
    background-image: url("./src/foto.jpg");
    background-size: cover;
    color: #F4F6F9;
}

.content1 h1 {
    padding-top: 250px
}

.selengkapnya {
    padding: 10px 10px;
    border-radius: 5px;
    background: #4B89DA;
    opacity: 1;
    cursor: pointer;
    animation-name: opacity_ani;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.selengkapnya:hover {
    animation-iteration-count: 1;
    animation-play-state: paused;
}

@keyframes opacity_ani {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

.content2{
    text-align: left;
    padding: 20px 45px 200px 45px;
    height: auto;
}

.content2 h3 {
    border-bottom: 4px solid #4B89DA;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-bottom: 10px;
}

.content2_isi {
    padding-bottom: 20px;
}

.misi {
    float: left;
    width: 33%;
    padding-bottom: 20px;
}

.beritaberita {
    text-align: center;
    padding-bottom: 80px;
}

.berita {
    float: left;
    width: 25%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.berita:hover {
    text-decoration: underline;
}

img {
    width: 100%;    
}

.content3 {
    padding: 30px 0;
    text-align: center;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.kontak {
  padding: 15px 40px;
  background-color: #5E9CEA;
  cursor: pointer;
  box-shadow: 0 7px #4B89DA;
}

.kontak:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

footer {
    background-color: #646C77;
    color: #F4F6F9;
    text-align: center;
    padding: 5px 0;
    line-height: 0.4;
    font-size: 14px;
}
